{{!< default }}

<div class="hero"{{#if @blog.cover}} style="background-image: url({{@blog.cover}})"{{/if}}>
  <h2>{{@blog.description}}</h2>
</div>

<main id="content" class="content inner" role="main">

  <section>
    <div class="line-behind-text">
      <h6>Featured Projects</h6>
    </div>

    {{#get "posts" filter="featured:true+page:true" limit="all" include="tags"}}
      <div class="cards">
        {{#foreach posts}}
          {{#has tag="#project" limit="1"}}
            {{#foreach tags}}
              {{> card-tag}}
            {{/foreach}}
          {{/has}}
        {{/foreach}}
      </div>
    {{/get}}
  </section>

  <div class="wrapper">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}
  </div>

</main>
