{{!< default}}

<main id="projects" class="content">
  <article class="{{post_class}} inner">
    <div class="wrapper">

      {{#post}}
        <h1>{{title}}</h1>
        {{content}}
      {{/post}}

      <hr>
    </div>
  </article>

  {{#get "tags" limit="all" order="description desc, name asc"}}
    <div class="cards">
      {{#foreach tags}}
        {{> card-tag}}
      {{/foreach}}
    </div>
  {{/get}}
</main>

