.home-template

  section
    > .cards-wrapper, .wrapper
      @include outer-container

    > .wrapper
      padding: 40px 18px

    .btn
      margin: 20px 0

  section:nth-child(even)
    background-color: $alternating-background

    p, h2
      color: $alternating-foreground

    a
      color: hsla(53, 100%, 70%, 1)

      &:hover
        color: hsla(38, 100%, 63%, 1)

    .btn
      background-color: hsla(53, 100%, 70%, 1)
      color: black

      &:hover, &:focus
        background-color: hsla(38, 100%, 63%, 1)
        color: black
