.home-template

  section
    > .wrapper
      @include outer-container
      padding: 40px 0

    .btn
      margin: 20px 0

  section:nth-child(even)
    background-color: $alternating-background

    p, h2
      color: $alternating-foreground

