.post
  @include outer-container

  .wrapper
    margin: 24px 18px 0 18px

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  li
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
