.hero {
  position: relative;
  width: 100%;
  margin-top: 30px;

  > h2 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40%;

    text-align: right;
    font-size: 2.5em;
    color: $light-gray;
    background: rgb(0,0,0); // fallback color
    background: rgba(0,0,0,0.7);
    padding: 10px;
  }
}
