.line-behind-text
  border-bottom: 1px solid $base-font-color
  margin-bottom: 40px
  text-align: center

  > h6
    color: $base-font-color
    position: relative
    top: 20px
    background: $base-background-color
    display: inline-block
    text-transform: uppercase
    padding: 0 10px
    font-weight: 500
    font-size: 1em
